/* VARIABLES */
/* COMMON */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rokkitt", serif;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: var(--black);
  display: inline-block;
}

li {
  list-style: none;
}

p {
  line-height: 1.5;
}

section {
  padding-block: 100px;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  padding: 10px 40px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: var(--weight600);
  transition: all ease-in 0.3s;
}

.btn-primary {
  padding: 10px 40px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: var(--weight600);
  transition: all ease-in 0.3s;
  background-color: #1C2530;
  color: #F7B661;
}

.btn-primary:hover {
  background-color: #F7B661;
  color: #1C2530;
}

.btn-secondary {
  padding: 10px 40px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: var(--weight600);
  transition: all ease-in 0.3s;
  background-color: #F7B661;
  color: #1C2530;
}

/* Header */
header {
  padding: relative;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding-block: 20px;
  background-color: #fff;
  z-index: 99999;
}
.header__row {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.header__logo img {
  width: 200px;
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 22px;
  font-size: 18px;
}

/* BANNER*/
.banner {
  background-image: url("../assests/images/banner__img.jpg"), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 100px 0 150px 0;
  margin-top: 96px;
}
.banner__body {
  max-width: 600px;
}
.banner__head h1 {
  font-size: 60px;
  color: #F7B661;
}
.banner__text p {
  color: #fff;
  margin-block: 40px;
  font-size: 25px;
}
.banner__button .btn {
  background-color: #F7B661;
  color: #1C2530;
}

/* INTRODUCTION OF GANA SEWA */
.intro__content {
  font-size: 20px;
  text-align: center;
}
.intro__content p:nth-child(2) {
  margin-block: 30px;
}

/* INFOMATION FLASH CARDS */
.info__cards {
  height: 100vh;
  padding-bottom: 0;
}
.info__cards--row {
  height: 100%;
  width: 100%;
  display: flex;
}
.info__card--courses, .info__card--textile {
  width: 50%;
  height: 100%;
  padding: 100px;
  text-align: center;
  color: #fff;
}
.info__card--textile {
  background-color: #1C2530;
}
.info__card--courses {
  background-color: #F7B661;
}

.poverty__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.poverty__images {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 30%;
  margin-right: -100px;
  z-index: 9;
}
.poverty__images img {
  width: 450px;
  border-radius: 10px;
}
.poverty__donation {
  background-color: #1C2530;
  width: 70%;
  height: 600px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 100px 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.poverty__heading {
  text-align: center;
  margin-bottom: 30px;
}
.poverty__heading p {
  font-size: 50px;
  line-height: 1;
  font-weight: 600;
  color: #fff;
}
.poverty__heading p span {
  color: #F7B661;
}
.poverty__supportText {
  text-align: center;
  letter-spacing: 0.7px;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 40px;
  font-size: 26px;
}
.poverty__button .btn {
  font-weight: bold;
  font-size: 22px;
}

.thankyou {
  background-image: url("../assests/images/poverty__banner.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-block: 200px;
  position: relative;
  margin-bottom: 100px;
}
.thankyou__overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3490196078);
}
.thankyou__banner--content {
  z-index: 9;
  position: relative;
}
.thankyou__banner--content p {
  font-size: 2.5rem;
  color: #fff;
}

.footer {
  background-color: #1C2530;
  position: relative;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
}
.footer__right--side {
  max-width: 60%;
  width: 100%;
}
.footer__heading {
  margin-bottom: 50px;
}
.footer__heading img {
  width: 200px;
}
.footer__content {
  margin-bottom: 50px;
}
.footer__content p {
  color: #fff;
  font-size: 1.25rem;
}
.footer__subscribe--form p {
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
}
.footer__subscribe--form .news__form input {
  padding: 19px 25px 19px 25px;
  width: 50%;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 1.2rem;
}
.footer__subscribe--form .news__form a {
  color: #1C2530;
  margin-left: 10px;
  background-color: #F7B661;
  padding: 19px 25px 19px 25px;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  border: 4px solid #F7B661;
  transition: all ease 0.3s;
}
.footer__subscribe--form .news__form a:hover {
  background-color: transparent;
  border: 4px solid #F7B661;
  color: #F7B661;
}
.footer__banner {
  background-color: #F7B661;
  padding: 90px 50px 50px 50px;
  border-radius: 0px 0px 10px 10px;
  max-width: 40%;
  width: 100%;
  margin-left: 100px;
  margin-top: -100px;
}
.footer__list--upper ul {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer__list--upper ul li {
  font-size: 2rem;
  font-weight: 600;
  transition: all ease 0.3s;
}
.footer__list--upper ul li:hover {
  color: #3d5e87;
}
.footer__list--icons {
  display: flex;
  gap: 40px;
  margin-top: 50px;
}
.footer__list--icons i {
  color: #1C2530;
  font-size: 2rem;
  cursor: pointer;
  transition: all ease 0.3s;
}
.footer__list--icons i:hover {
  color: #3d5e87;
}
.footer__copyright {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}
.footer__copyright p {
  color: #fff;
  font-size: 1.5rem;
}