/* VARIABLES */
$primaryColor: #1C2530;
$secondaryColor: #F7B661;
$textColor: #666;
$white: #fff;
$black: #000;
$weight400: 400;
$weight500: 500;
$weight600: 600;
$weight700: 700;


/* COMMON */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rokkitt', serif;
}

// MIXINS
@mixin partialFlex {
    display: flex;
}

@mixin flexbox {
    @include partialFlex;
    align-items: center;
    justify-content: center;
}

@mixin image {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

@mixin anchor {
    text-decoration: none;
    color: var(--black);
    display: inline-block;
}

@mixin list--items {
    list-style: none;
}

@mixin paragraph {
    line-height: 1.5;
}

@mixin section {
    padding-block: 100px;
}

@mixin container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

@mixin commonBtn {
    padding: 10px 40px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: var(--weight600);
    transition: all ease-in .3s;
}

// GLOBAL CSS
img {
    @include image;
}

a {
    @include anchor;
}

li {
    @include list--items;
}

p {
    @include paragraph;
}

section {
    @include section;
}

.container {
    @include container;
}

.btn {
    @include commonBtn;
}

.btn-primary {
    @include commonBtn;
    background-color: $primaryColor;
    color: $secondaryColor;
}

.btn-primary:hover {
    background-color: $secondaryColor;
    color: $primaryColor;
}

.btn-secondary {
    @include commonBtn;
    background-color: $secondaryColor;
    color: $primaryColor;
}



/* Header */
header {
    padding: relative;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding-block: 20px;
    background-color: $white;
    z-index: 99999;

    &__row {
        @include flexbox;
        justify-content: space-between;
    }

    &__logo {
        img {
            width: 200px;
        }
    }

    &__nav {
        @include partialFlex;
        align-items: center;
        gap: 22px;
        font-size: 18px;
    }
}

/* BANNER*/
.banner {
    background-image: url("../assests/images/banner__img.jpg"), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 100px 0 150px 0;
    margin-top: 96px;

    &__body {
        max-width: 600px;
    }

    &__head {
        h1 {
            font-size: 60px;
            color: $secondaryColor;
        }
    }

    &__text {
        p {
            color: $white;
            margin-block: 40px;
            font-size: 25px;
        }
    }

    &__button {
        .btn {
            background-color: $secondaryColor;
            color: $primaryColor;
        }
    }
}

/* INTRODUCTION OF GANA SEWA */
.intro {
    &__content {
        font-size: 20px;
        text-align: center;

        p:nth-child(2) {
            margin-block: 30px;
        }
    }
}

/* INFOMATION FLASH CARDS */
.info {
    &__cards {
        height: 100vh;
        padding-bottom: 0;

        &--row {
            height: 100%;
            width: 100%;
            @include partialFlex;
        }
    }

    &__card {

        &--courses,
        &--textile {
            width: 50%;
            height: 100%;
            padding: 100px;
            text-align: center;
            color: $white;
        }

        &--textile {
            background-color: $primaryColor;
        }

        &--courses {
            background-color: $secondaryColor;
        }
    }
}

// Poverty end
.poverty {
    &__wrapper {
        @include partialFlex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &__images {
        @include partialFlex;
        flex-direction: column;
        gap: 10px;
        width: 30%;
        margin-right: -100px;
        z-index: 9;

        img {
            width: 450px;
            border-radius: 10px;
        }
    }

    &__donation {
        background-color: $primaryColor;
        width: 70%;
        height: 600px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        padding: 100px 200px;
        @include flexbox;
        flex-direction: column;
    }

    &__heading {
        text-align: center;
        margin-bottom: 30px;

        p {
            font-size: 50px;
            line-height: 1;
            font-weight: $weight600;
            color: $white;

            span {
                color: $secondaryColor;
            }
        }
    }

    &__supportText {
        text-align: center;
        letter-spacing: 0.7px;
        line-height: 1.5;
        color: $white;
        margin-bottom: 40px;
        font-size: 26px;
    }

    &__button {
        .btn {
            font-weight: bold;
            font-size: 22px;
        }
    }
}

// Thank you Banner
.thankyou {
    background-image: url("../assests/images/poverty__banner.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-block: 200px;
    position: relative;
    margin-bottom: 100px;
    &__overlay {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #00000059;
    }

    &__banner--content {
        z-index: 9;
        position: relative;
        p {
            font-size: 2.5rem;
            color: $white;
        }
    }
}


// footer
.footer {
    background-color: $primaryColor;
    position: relative;

    &__wrapper {
        @include partialFlex;
        justify-content: space-between;
    }

    &__right--side {
        max-width: 60%;
        width: 100%;
    }

    &__heading {
        margin-bottom: 50px;

        img {
            width: 200px;
        }
    }

    &__content {
        margin-bottom: 50px;

        p {
            color: $white;
            font-size: 1.25rem;
        }
    }

    &__subscribe--form {
        p {
            font-size: 2rem;
            color: $white;
            font-weight: $weight600;
        }

        .news__form {
            input {
                padding: 19px 25px 19px 25px;
                width: 50%;
                border-radius: 10px;
                border: none;
                outline: none;
                font-size: 1.2rem;
            }

            a {
                color: $primaryColor;
                margin-left: 10px;
                background-color: $secondaryColor;
                padding: 19px 25px 19px 25px;
                border-radius: 10px;
                font-size: 1.2rem;
                font-weight: 600;
                text-transform: uppercase;
                border: 4px solid $secondaryColor;
                transition: all ease 0.3s;
            }

            a:hover {
                background-color: transparent;
                border: 4px solid $secondaryColor;
                color: $secondaryColor;
            }
        }
    }

    &__banner {
        background-color: $secondaryColor;
        padding: 90px 50px 50px 50px;
        border-radius: 0px 0px 10px 10px;
        max-width: 40%;
        width: 100%;
        margin-left: 100px;
        margin-top: -100px;
    }

    &__list--upper {
        ul {
            padding-left: 0;
            @include partialFlex;
            flex-direction: column;
            gap: 15px;

            li {
                font-size: 2rem;
                font-weight: $weight600;
                transition: all ease 0.3s;
            }

            li:hover {
                color: #3d5e87;
            }
        }
    }

    &__list--icons {
        @include partialFlex;
        gap: 40px;
        margin-top: 50px;

        i {
            color: $primaryColor;
            font-size: 2rem;
            cursor: pointer;
            transition: all ease 0.3s;
        }

        i:hover {
            color: #3d5e87;
        }
    }

    &__copyright {
        position: absolute;
        bottom: 0;
        @include flexbox;
        width: 80%;

        p {
            color: $white;
            font-size: 1.5rem;
        }
    }
}